.sebm-google-map-container {
  height: 300px;
}

h4
{
  color:blue; 
  margin-bottom:20px;

}

h5
{
 float:top;
 color:darkred;
  margin-top:20px;
}

h6
{ 
  color: red;
  margin-bottom:10px;
}

div
{
  margin-bottom:20px;
}