<!-- Title of Google Maps Component-->

<div>
   <h5>
      {{ title }}<span class="glyphicon glyphicon-map-marker"></span>
   </h5>
</div>


<!-- this creates a google map on the page with the given lat/lng from -->

<div> 
     <sebm-google-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">
    
      <sebm-google-map-marker 
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
         [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">
        
        
        <sebm-google-map-info-window >

        <div>
           <h4>
             <em><img src="..\assets\img\4.jpg" width="60" height="35"> Transaction Analytics @ {{m.description}}</em>
           </h4>
        </div>

         <!-- this creates a Transaction pop up table when clicked on Marker -->

        <transactions>
        </transactions>

          <div>
            <marquee>
                 <h6> 
                 ** Analytics displayed are as per our database          
                </h6>
           </marquee>
          </div>

           </sebm-google-map-info-window>

          </sebm-google-map-marker>
          </sebm-google-map>

</div>
 