
  <div class="row">
  <div class="col-md-6">
  <div style="display: block">
    <canvas baseChart width="300" height="200"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHoveredOn($event)"
            (chartClick)="chartClickedOn($event)"></canvas>
  </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of barChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of barChartData">
        <td *ngFor="let label of barChartLabels; let j=index">{{d.data[j]}}</td>
      </tr>
    </table>
  <button (click)="randomizeBar()">Update</button>
  </div>
  </div>
