<div class="container-fluid">
  <!--<div class="jumbotron" style="background-color:#0088cc; color:white">
  <h1>
    {{'LOGIN.portalName' | translate}}
  </h1>
  </div>
  <hr>-->
  <!-- For making the sliding navigation bar with four different sections -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">{{'LOGIN.portalName' | translate}}</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">About</a></li>
          <li><a href="#section2">Register</a></li>
          <li><a href="#section3">Login</a></li>
          <li><a href="#section4">Contact Us</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<!-- Section 1 is About us -->
<div id="section1" class="container-fluid">
  <h1>About</h1>
  <p>UT-PORTAL is about the survey of the trends that demonetisation is following so far in the Union Territory of Chandigarh!!</p>
  <p>Let us have a look!!</p>
  <div class="container-fluid text-center">
    <!--<div class="jumbotron">-->
    <div class="row content">
      <div class="col-lg-5">
        <div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="..\assets\img\1.jpg" alt="Oops!!" width="460" height="345">
      </div>

      <div class="item">
        <img src="..\assets\img\2.jpg" alt="Oops!!" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="..\assets\img\3.jpg" alt="Oops!!" width="460" height="345">
      </div>

      <div class="item">
        <img src="..\assets\img\4.jpg" alt="Oops!!" width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

      </div>
      <div class="col-lg-2 text-left">
        <!-- Blank Space -->
      </div>
      <div class="col-lg-5">
        <h2> This Portal </h2>
        <p> This portal is precisely made to monitor the trends of demonetisation and also kind of understand what it is doing
          to the economy of the Union Territory!! </p>
      </div>
    </div>
  </div>
</div>

<!-- Section 2 is Register or Sign Up -->
<div id="section2" class="container-fluid">
  <h1>Register</h1>
  <p>You may Register yourself to know more and thus get priveledged access to few stories!!</p>
  <p>There you go!!</p>
  <h3 style="float:auto; margin-right:50px">
    <a routerLink="/signup" routerLinkActive="active" title="Haven't registered yet?? Register here!!" style="color:white"><span class="glyphicon glyphicon-pencil"></span>Sign Up</a>
  </h3>
</div>

<!-- Section 3 is Login with forgot password and change password features -->
<div id="section3" class="container-fluid">
  
  <div class="col-lg-6">
    <h1>Login Features</h1>
    <p>You may try these features once you have registered yourself!!</p>
    <p>Let us do our bit to know government is doing for us!!</p>
    <!-- Modal for the Forgot Password. -->
    <div class="container">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-paperclip"></span> Forgot Password
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" style="color:black">Forgot Password</h4>
            </div>
            <div class="modal-body" style="color:black">
              <p>Fill in the following details</p>
                  <div class="form-group">
                    <label class="center" for="username">
                      <span class="glyphicon glyphicon-user"></span> UserName
                    </label>
                    <input type="text" class="form-control" id="name" required name="userName" 
                    [(ngModel)]="model.userName" #userName="ngModel">
                    <br>
                    <button style="margin-left:200px" class="btn btn-primary" (click)="CheckUser()">Check</button>
      
                    <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
                      Name is required
                    </div>  
                  </div>

                <form (ngSubmit)="ResetPassword(forgotForm.value)" #forgotForm="ngForm" style="margin-right:50px">

                  <div class="form-group"  *ngIf="isValidUsername">
                    <label for="Newpassword"><span class="glyphicon glyphicon-lock"></span>New Password</label>
                    <input type="password" class="form-control" id="Newpassword" required name="Newpassword" 
                    [(ngModel)]="newModel.password" #Newpassword="ngModel">
                    <div [hidden]="Newpassword.valid || Newpassword.pristine" class="alert alert-danger">
                      New Password is required
                    </div>
                  </div>

                  <div class="form-group"  *ngIf="isValidUsername">
                    <label for="Confirmpassword"><span class="glyphicon glyphicon-lock"></span>Confirm Password</label>
                    <input type="password" class="form-control" id="Confirmpassword" required validateEqual="password" name="ConfirmPassword" 
                    [(ngModel)]="newModel.confirmPassword" #Confirmpassword="ngModel">
                    <div [hidden]="Confirmpassword.valid || Confirmpassword.pristine" class="alert alert-danger">
                      Confirm Password is required
                    </div>
                  </div>

                  <div [hidden]="password.valid || password.pristine" 
                  class="alert alert-danger">
                    <strong>Oops!</strong> Password mismatch. Please try again.
                  </div>

                  <button *ngIf="isValidUsername" type="submit" class="btn btn-primary" 
                    [hidden]="!heroForm.form.valid" title="Set a new Password?? Submit here!!">
                    <span class="glyphicon glyphicon-ok"></span> Submit
                  </button>
                </form>
            </div>
            <div class="modal-footer">
              <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Modal for the change Password -->
    <div class="container">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal1">
        <span class="glyphicon glyphicon-wrench"></span> Change Password</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" style="color:black">Change Password</h4>
            </div>
            <div class="modal-body" style="color:black">
              <p>Fill in the following details</p>
              <div class="form-group">
                    <label class="center" for="username">
                      <span class="glyphicon glyphicon-user"></span> UserName
                    </label>
                    <input type="text" class="form-control" id="nameChange" required name="userName" 
                    [(ngModel)]="model.userName" #userName="ngModel">
                    <br>
                    <button style="margin-left:200px" class="btn btn-primary" (click)="CheckUser()">Check</button>
      
                    <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
                      Name is required
                    </div>  
                  </div>

                <form (ngSubmit)="ResetPassword(changeForm.value)" #changeForm="ngForm" style="margin-right:50px">

                  <div class="form-group"  *ngIf="isValidUsername">
                    <label for="Newpassword"><span class="glyphicon glyphicon-lock"></span>New Password</label>
                    <input type="password" class="form-control" id="Newpassword" required name="Newpassword" 
                    [(ngModel)]="newModel.password" #Newpassword="ngModel">
                    <div [hidden]="Newpassword.valid || Newpassword.pristine" class="alert alert-danger">
                      New Password is required
                    </div>
                  </div>

                  <div class="form-group"  *ngIf="isValidUsername">
                    <label for="Confirmpassword"><span class="glyphicon glyphicon-lock"></span>Confirm Password</label>
                    <input type="password" class="form-control" id="Confirmpassword" required validateEqual="password" name="ConfirmPassword" 
                    [(ngModel)]="newModel.confirmPassword" #Confirmpassword="ngModel">
                    <div [hidden]="Confirmpassword.valid || Confirmpassword.pristine" class="alert alert-danger">
                      Confirm Password is required
                    </div>
                  </div>

                  <button *ngIf="isValidUsername" type="submit" class="btn btn-primary" 
                    [hidden]="!heroForm.form.valid" title="Set a new Password?? Submit here!!">
                    <span class="glyphicon glyphicon-ok"></span> Submit
                  </button>
                </form>
            </div>
            <div class="modal-footer">
              <button id="closeChange" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login Form -->
  <div class="col-lg-6">
    <h2>
      Login <span class="glyphicon glyphicon-log-in"></span>
    </h2>
    <br>
    <br>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" style="margin-right:50px">
      <div class="form-group">
        <label class="center" for="username"><span class="glyphicon glyphicon-user"></span> UserName</label>
        <input type="text" class="form-control" id="nameLogin" required name="userName" [(ngModel)]="model.userName" #userName="ngModel">
        <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="password"><span class="glyphicon glyphicon-lock"></span> Password</label>
        <input type="password" class="form-control" id="password" required name="password" [(ngModel)]="model.password" #password="ngModel">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Password is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!heroForm.form.valid" title="Already Registered?? Login here!!">
        <span class="glyphicon glyphicon-ok"></span> Submit</button>
    </form>

  </div>

</div>
<!-- Section 4 is contact us -->
<div id="section4" class="container-fluid">
  <h1>Contact Us</h1>
  <p>For any queries, drop a mail or contact us via the below information!!</p>
  <div class="col-lg-6">
    <b> Infosys Limited. </b>
    <p> Plot No. 1 Rajiv Gandhi Technology Park Kishangarh Chandigarh 160 101 Phone: +91 172 503 8000 Fax: +91 172 504 6860 </p>
    <h3> Or drop a mail at: </h3>
    <a style="color:white" href="mailto:askus@infosys.com" target="_self"><span class="glyphicon glyphicon-envelop"></span>Infosys Mail</a>

    <br>
    <br>
    <!-- Modal with a timeout for Errors. -->
    <div class="container">
      <!-- Trigger the modal with a button -->
      <button style="display: none" id="timeoutModal" type="button" class="btn btn-danger btn-md" 
      data-toggle="modal" data-target="#myModalWithTimeout">Timeout Modal</button>
      <!-- Modal -->
      <div class="modal fade" id="myModalWithTimeout" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div style="background-color: crimson" class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" style="color: black; text-align: center"><strong>Error!!!</strong></h4>
            </div>
            <div style="text-align: center" class="modal-body" style="color: black">
              <p><b>The data is incorrect. Please try again!!</b></p>
            </div>
          </div>

        </div>
      </div>

    </div>


    <br>
    <br>
    <!-- Modal with a timeout for Forgot/Change Password Success. -->
    <div class="container">
      <!-- Trigger the modal with a button -->
      <button style="display: none" id="timeoutModalForForgotPass" type="button" class="btn btn-danger btn-md" 
      data-toggle="modal" data-target="#myModalWithTimeoutForSuccess">Timeout Modal</button>
      <!-- Modal -->
      <div class="modal fade" id="myModalWithTimeoutForSuccess" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div style="background-color: lightgreen" class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" style="color: black; text-align: center"><strong>Success!!!</strong></h4>
            </div>
            <div style="text-align: center" class="modal-body" style="color: black">
              <p><b>The Password is successfully reset.</b></p>
            </div>
          </div>

        </div>
      </div>

    </div>


    <br>
    <br>
    <!-- Modal without a timeout template -->
    <div class="container">
      <!-- Trigger the modal with a button -->
      <button style="display: none" type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModalWithoutTimeout">Without Timeout Modal</button>

      <!-- Modal -->
      <div class="modal fade" id="myModalWithoutTimeout" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" style="color:black">Without Time Out Modal!!!</h4>
            </div>
            <div class="modal-body" style="color:black">
              <p>You may wait!!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
  <div class="col-lg-6">
    <img src="..\assets\img\InfosysChd.jpg" alt="Oops!!" width="500" height="345">
  </div>

</div>
</div>