.body {
      position: relative; 
  }

  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}

  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}

  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}

  #section4 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  #myCarousel{
  	width: 40%;
  }