<div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHoveredOn($event)"
          (chartClick)="chartClickedOn($event)"></canvas>
</div> 