<div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHoveredOn($event)"
              (chartClick)="chartClickedOn($event)"></canvas>
</div>