
  <div class="jumbotron">
    <h2>Signup</h2>
    
    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        
        <input type="text" class="form-control"  placeholder="Enter the first name" name="firstName" [(ngModel)]="register.firstName" required #firstName="ngModel" >
<div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
  First Name is required
</div>
</div>
<div class="form-group">
  <label>Last Name</label>
  <input type="text" class="form-control" placeholder="Enter the last name" name="lastName" [(ngModel)]="register.lastName" required #lastName="ngModel">
<div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
  Last Name is required
</div>
</div>

<div class="form-group">
  <label>Email Id</label>
  <input type="email" class="form-control"  required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Enter your Email Address"  name="email" [(ngModel)]="register.email" required #email="ngModel">
<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
  please follow the pattern john@abc.com
</div>
</div>





<div class="form-group">
  <label>Gender</label>
</div>

<!-- Radio and checkboxes work much the same way -->
<div class="radio">
  <label>
          <input type="radio" name="gender" value="Male"  ngModel required>
          Male
        </label>

  <label>
          <input type="radio" name="gender" value="Female" ngModel required>
          Female
        </label>
</div>




<div class="form-group">
  <label>Password</label>
  <input type="password" class="form-control" placeholder="password" name="password"  [(ngModel)]="register.password" required #password="ngModel">
<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
  Password is required
</div>
</div>

<div class="form-group">
  <label>Confirm Password</label>
  <input type="password" class="form-control" placeholder="confirm password"  name="confirmPassword"  [(ngModel)]="register.confirmPassword" required  validateEqual="password" #confirmPassword="ngModel" >
<div [hidden]="(confirmPassword.valid || confirmPassword.pristine)" class="alert alert-danger">
  Please confirm your password
</div>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-default">Submit</button>
<button type="reset" class="btn btn-default"  onclick="this.form.reset()">Reset</button>
</div>



<a routerLink="/login" routerLinkActive="active">Already a Member ? login</a>
</form>
</div>

