<!--TODO
  1.onclick "collapse active"
  2.onclick sub options active-->
<!--nav sidebar -->
<aside>
  <nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation" id="side-nav">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="nav-side-menu">
      <div class="brand">UT-Portal</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a routerLink="/dashboard">
              <i class="fa fa-dashboard fa-lg"></i> Dashboard
            </a>
          </li>

          <li>
            <a routerLink="/dashboard/charts">
              <i class="fa fa-dashboard fa-lg"></i> Charts
            </a>
          </li>

          <li>
            <a routerLink="/dashboard/maps">
              <i class="fa fa-dashboard fa-lg"></i> Maps
            </a>
          </li>

          <li data-toggle="collapse" data-target="#products" class="collapsed active">
            <a><i class="fa fa-gift fa-lg"></i> UI Elements  <i class="fa fa-gift fa-lg btn pull-right" style="margin-top:5px"></i></a>

            <ul class="sub-menu collapse" id="products">
              <li class="active"><a routerLink="/dashboard/">CSS3 Animation</a></li>
              <li><a routerLink="/dashboard/">General</a></li>
              <li><a routerLink="/dashboard/">Buttons</a></li>
              <li><a routerLink="/dashboard/">Tabs & Accordions</a></li>
              <li><a routerLink="/dashboard/">Typography</a></li>
              <li><a routerLink="/dashboard/">FontAwesome</a></li>
              <li><a routerLink="/dashboard/">Slider</a></li>
              <li><a routerLink="/dashboard/">Panels</a></li>
              <li><a routerLink="/dashboard/">Widgets</a></li>
              <li><a routerLink="/dashboard/">Bootstrap Model</a></li>
            </ul>
          </li>

          <li data-toggle="collapse" data-target="#service" class="collapsed">
            <a routerLink="/dashboard/"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="service">
            <li>New Service 1</li>
            <li>New Service 2</li>
            <li>New Service 3</li>
          </ul>


          <li data-toggle="collapse" data-target="#new" class="collapsed">
            <a routerLink="/dashboard/"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="new">
            <li>New New 1</li>
            <li>New New 2</li>
            <li>New New 3</li>
          </ul>


          <li>
            <a routerLink="/dashboard/">
              <i class="fa fa-user fa-lg"></i> Profile
            </a>
          </li>

          <li>
            <a routerLink="/dashboard/">
              <i class="fa fa-users fa-lg"></i> Users
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main">
  <nav class="navbar navbar-inverse" id="top-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/signup" routerLinkActive="active" title="Haven't registered yet?? Register here!!" style="color:white"><span class="glyphicon glyphicon-pencil"></span>Sign Up</a></li>
          <li><a routerLink="/login" routerLinkActive="active" title="Already registered?? Login here!!" style="color:white"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="padding-left:10px">
    <router-outlet></router-outlet>
  </div>
</div>

</aside>

