/* You can add global styles to this file, and also import other style files */
/* Styles for the loading page screen */
@media screen and (max-width: 768px) {
    .span {
        text-align: center;
        margin: 25px 0;
    }
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}